.tutorial-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lectures-container{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}
@media only screen and (max-width: 600px){
    .tutorial-container{
        display: flex;
        flex-direction: column;
        
    }
    .lectures-container{
        margin: 5px;

    }
}